<div>
    <p>Please click one of the buttons below to close or cancel the modal.</p>

    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    <button @onclick="Login" class="btn btn-primary">Close</button>
    <button @onclick="Register" class="btn btn-primary">Close</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    async Task Login()
    {

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }


    async Task Register()
    {

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }

    async Task Cancel() => await BlazoredModal.CancelAsync();

}