
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 70%;
    margin: auto;
}

.upper-section {
    display: flex;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 90%;
    max-width: 915px;
}

.upper-section-title {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}
.title-date {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #5687bf;
}

.login-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/login_icon.jpg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 5px;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.save-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/save_icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 5px;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.save-button-hidden {
    display: none;
}


.save-button:active {
    transform: scale(0.75);
}

.save-button:hover {
    background-color: #5687bf;
}

.login-button:active {
    transform: scale(0.75);
}

.login-button:hover {
    background-color: #5687bf;
}

.add_task_block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.input {
    padding: 0 20px 0 20px;
    width: 85%;
    max-width: 870px;
    height: 30px;
    margin: 5px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    outline: none !important;
    border: solid 1px grey;
}

.add {
    margin: 2px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
    font-size: 35px;
}
    .add:active {
        transform: scale(0.75);
        color: darkgray;
    }

.list {
    border-left: solid 1px lightgrey;
    max-width: 915px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    width: 90%;
    padding: 10px;
    position: relative;
    left: 7px;
}

.completed {
    color: #5687bf;
    font-size: 16px;
    font-weight: 700;
    margin: 30px;
    letter-spacing: 1px;
    align-items: center;
}
.number {
    color: grey;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
}
.dropdown-completed{
    border: none;
    background: transparent;
}

.dropdown-sign-visible {
    width: 9px;
    height: 8px;
    border: 3px solid #5687bf;
    transform: rotate( -45deg);
    transition: 0.5s;
    border-right: none;
    border-top: none;
    right: -4px;
    top: 5px;
}


.dropdown-sign-hidden {
  
    width: 8px;
    height: 8px;
    border: 3px solid grey;
    transform: rotate( -135deg);
    transition: 0.3s;
    border-right: none;
    border-top: none;
    right: -4px;
    top: 5px;
}


.completed-container-show {
    opacity: 1;
    transition: opacity 0.3s linear;
    height: auto;
}

.completed-container-hide {
    opacity: 0;
    transition: opacity 0.3s linear;
    pointer-events: none;
}
