
.container {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 70%;
    margin: auto;
}

.upper-section {
    display: flex;
    -o-justify-content: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: 0 auto 0;
    width: 90%;
    max-width: 915px;
}

.upper-section-title {
    display: flex;
    flex-direction: column;
    word-break: keep-all;
    width: 60%;
    font-size: 20px;
    font-weight: bold;
}

.current-list-title {
    background-color: inherit;
    border: 0;
    border-bottom: solid 0.5px lightgrey;
    font-size: 20px;
    outline: none !important;
    padding-bottom: 5px;
    display: block;
    border-style: none;
    background-color: transparent;
    font-family: inherit;
    outline: none;
    resize: none;
    width: 88%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 20px;
}

    .current-list-title:focus {
        outline: none !important;
        border: 0.5px solid #5687bf;
        box-shadow: 0 0 10px #5687bf;
    }

.title-date {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: #5687bf;
    padding-top: 5px;
}

.logged-out-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/logged_out_icon.jpg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 5px;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.logged-in-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/logged_in_icon.jpg);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 5px;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.logged-in-button:active {
    transform: scale(0.75);
}

.save-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/save_icon.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    margin: 5px;
    margin-top: 16px;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.save-button-hidden {
    display: none;
}


.save-button:active {
    transform: scale(0.75);
}

.save-button:hover {
    background-color: #5687bf;
}

.logged-out-button:active {
    transform: scale(0.75);
}

.add_task_block {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.input {
    padding: 0 20px 0 20px;
    width: 85%;
    max-width: 870px;
    height: 30px;
    margin: 5px;
    -ms-border-radius: 20px;
    border-radius: 20px;
    outline: none !important;
    border: solid 1px grey;
}
    .input:focus {
        box-shadow: 0 0 10px #5687bf;
    }

.add {
    margin: 2px;
    width: 32px;
    height: 32px;
    background: none;
    border: none;
    cursor: pointer;
    color: grey;
    font-size: 35px;
}
    .add:active {
        transform: scale(0.75);
        color: darkgray;
    }

.list {
    border-left: solid 1px lightgrey;
    max-width: 915px;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    margin: 10px auto 0;
    width: 90%;
    padding: 10px;
    position: relative;
    left: 7px;
}

.completed {
    color: #5687bf;
    font-size: 16px;
    font-weight: 700;
    margin: 15px;
    letter-spacing: 1px;
    align-items: center;
}
.number {
    color: grey;
    font-size: 0.9em;
    font-weight: bold;
    margin-left: 10px;
}
.dropdown-completed{
    border: none;
    background: transparent;
}

.dropdown-sign-visible {
    width: 9px;
    height: 8px;
    border: 3px solid #5687bf;
    transform: rotate( -45deg);
    transition: 0.5s;
    border-right: none;
    border-top: none;
    right: -4px;
    top: 5px;
}


.dropdown-sign-hidden {
  
    width: 8px;
    height: 8px;
    border: 3px solid grey;
    transform: rotate( -135deg);
    transition: 0.3s;
    border-right: none;
    border-top: none;
    right: -4px;
    top: 5px;
}


.completed-container-show {
    opacity: 1;
    transition: opacity 0.3s linear;
    height: auto;
}

.completed-container-hide {
    opacity: 0;
    transition: opacity 0.3s linear;
    pointer-events: none;
}

.list-of-lists-visible {
    display: flex;
    flex-direction: column;
    position: fixed;
    max-width: 15%;
    width: 15%;
    height: 100%;
    min-width: 180px;
    top: 120px;
    z-index: 1;
    align-items: center;
}

.list-of-lists-hidden {
    display: none;
}

.login-incentive {
    position: relative;
    top: 12px;
    color: #f5f2ed;
    background-image: linear-gradient(to right, #5687bf, #5687bf, #f5f2ed);
    padding: 8px;
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    width: 100%;
}

.list-of-lists-title {
    width: 90%;
    border-bottom: solid 0.5px lightgrey;
    color: white;
    padding: 6px;
    text-align: center;
    background: #5687bf;
    border-radius: 20px;
    margin: 10px;
}

.list-of-lists-items {
    width: 80%;
    border-bottom: solid 0.5px lightgrey;
    color: black;
     padding: 6px;
    text-align: center;
    background: #f5f2ed;
    border-radius: 20px;
    margin: 1px;
    line-break: anywhere;
    border-top: solid 0.5px lightgray;
}

.list-of-lists-button {
    min-width: 25px;
    min-height: 25px;
    padding: 0;
    background-image: url(/images/menu_icon.jpg);
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 95px;
}
    .list-of-lists-button:active {
        transform: scale(0.75);
        color: darkgray;
    }


.logged-out-text {
    width: 120px;
    background-color: #5687bf;
    color: #f5f2ed;
    text-align: center;
    padding: 5px 0;
    border-radius: 16px;
    z-index: 1;
}

.info-modal {
    position: relative;
    overflow: hidden;
    position: absolute;
    animation: show 4s linear both;
    transform-origin: left center;
    width: 0px;
}


@keyframes show {
    0% {
        width: 0;
    }

    5% {
        width: 120px;
    }

    95% {
        width: 120px;
    }

    100%{
        width: 0;
    }
}