<div class="authContainer">
    <button @onclick="Cancel" class="btn btn-secondary">Cancel</button>
    <button @onclick="Login" class="btn btn-primary">Login</button>
    <button @onclick="Register" class="btn btn-primary">Register</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }


    async Task Cancel() => await BlazoredModal.CancelAsync();

    async Task Login()
    {

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }


    async Task Register()
    {

        await BlazoredModal.CloseAsync(ModalResult.Ok(true));
    }


}