@using BlazorToDoApp.Models
@inject AppState AppState

<div class="item">
       
    <input type="checkbox" class="checkbox" id="@Model.Id" @onchange="Foo" />
    <label for="@Model.Id" class="@(Model.Checked ? "checkbox-label-checked" : "checkbox-label")">
        <div class="check-sign"></div>
    </label>
    @Model.Text
</div>

<br />

@code {
    [Parameter]
    public TodoItemModel Model { get; set; }


    [Parameter]
    public EventCallback<bool> UpdateHappened {get; set; }

    private void Foo()
    {
        Model.Checked = !Model.Checked;

        Console.WriteLine("---" + Model.Checked + "---" + Model.Id);

        UpdateHappened.InvokeAsync(false);
        StateHasChanged();
    }

}
