@using BlazorToDoApp.Models
<div class="item">
    <input class="checkbox" type="checkbox"/> 
    @Model.Name
</div><br/>

@code {
    [Parameter]
    public TodoItemModel Model { get; set; }
    //checkbox needs to be round and is to close to text
}
